*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
}
.article{
    margin:5px;
    padding: 5px;
    border: 2px solid grey;
}
.h1{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 20px;
    font-variant: small-caps;
    font-weight: 300;    
    font-size: 30px;
    font-style: normal;
}
.h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-indent: 40px;
    font-weight: 200;   
    font-size: 25px;
    font-style: normal;
}
.p{
    text-indent: 60px; /* décale uniquement la première ligne de 30px */
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}